@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* header */

.navbar {
  padding-top: 10px;
  margin-inline: 16%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: #738c7a;
  font-weight: 550;
  font-size: 15px;
  border-bottom: 1px solid #738c7a44;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar.shadow {
  box-shadow: 0 24px 40px -20px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-inline: 0;
  padding-inline: 16%;
}

.image {
  margin-right: 60px;
}

/* dropdown product */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-trigger:hover {
  color: #22ad01;
}

.dropdown-trigger {
  color: #738c7a;
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-menu {
  left: 0;
  min-width: 100%;
  z-index: 99;
  height: 300px;
  flex-direction: row;
  display: none;
  position: fixed;
  top: 70px;
  background-color: #fff;
  padding-top: 35px;
  padding-inline: 16%;
  list-style-type: none;
  box-shadow: 0 24px 40px -20px rgba(0, 0, 0, 0.2);
}

.calendar {
  width: 128px;
  height: 82px;
  background-color: #f2f7f2;
  border-radius: 2px;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  overflow: hidden;
}

.calendar img {
  border-top-left-radius: 10px;
  box-shadow: -7px 19px 20px -4px rgba(0, 0, 0, 0.11);
}

.last-columm a {
  left: 0;
  color: #22ad01;
  text-decoration: color #22ad01;
}

.dropdown-menu li:nth-child(1) {
  font-weight: 550;
  color: #003c2f;
  padding-bottom: 20px;
}

.dropdown-menu li {
  padding: 8px;
  text-decoration: none;
  list-style: none;
}

.dropdown-menu li a {
  color: #738c7a;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: #22ad01;
}

.dropdown:hover .dropdown-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  position: fixed;
}

.dropdown-menu-resource {
  display: flex;
  justify-content: start;
}

.dropdown-menu-resource ul:nth-child(2) {
  padding-left: 200px;
}

/* login button */

.login {
  margin-left: auto;
}

.login button:nth-child(1) {
  font-weight: 600;
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  transition: 0.5s;
}

.login button:nth-child(1):hover {
  background-color: #f2f7f2;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

.login button:nth-child(2) {
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #22ad01;
  transition: 0.5s;
}

.login button:nth-child(2):hover {
  background-color: #41bb22;
}

.login button:nth-child(1) a {
  text-decoration: none;
  color: #003c2f;
}

.login button:nth-child(2) a {
  text-decoration: none;
  color: #fff;
}

hr {
  margin-top: -12px;
  margin-left: auto;
  margin-right: auto;
  width: 68%;
  border-color: #738c7a15;
}

/* main */
.subnav nav {
  margin-top: 85px;
  padding-inline: 16%;
  display: flex;
  flex-direction: row;
}

.subnav a {
  font-size: 15px;
  padding-right: 31px;
  text-decoration: none;
  color: #738c7aab;
  font-weight: 600;
}

.subnav a:hover {
  color: #738c7a;
}

.title1 {
  color: #003c2f;
  font-size: 60px;
  font-weight: 1000;
  text-align: center;
  margin-top: 125px;
}

.teste {
  height: 5000px;
}

/* Toggle Switch */

.toggle-button {
  display: flex;
  justify-content: center;
}

.toggle-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 70px;
  margin-top: 30px;
  background-color: #f0f5f0;
  border-radius: 50px;
  padding: 0.4%;
}

.toggle-switch input[type="radio"] {
  display: none;
}

.toggle-switch label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f5f0;
  border-radius: 50px;
  color: #003c2f;
  cursor: pointer;
  transition: 0.5s ease;
}

.toggle-switch input[type="radio"]:checked + label {
  background-color: #003c2f;
  color: #fff;
}

.monthly {
  align-items: center;
  width: 35%;
  height: 100%;
}

.yearly {
  align-items: center;
  width: 65%;
  height: 100%;
}

.visible {
  background-color: #fff;
  color: #22ad01;
  border-radius: 50px;
  font-size: 9px;
  font-weight: bolder;
  padding: 5px 10px;
  margin-left: 20px;
}

/* Plans Yearly*/

.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-inline: 20%;
}

.content1:nth-child(2) {
  outline: 10px solid #ee8146;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 850px;
  border-radius: 20px;
  padding: 56px 35px 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content1 h2 {
  color: #003c2f;
  font-size: 40px;
  font-weight: 1000px;
  margin: 10px;
}

.content1 h2:nth-child(2) {
  font-size: 40px;
}

.content1 h2:nth-child(2) span {
  margin-inline: 8px;
}

.month-h2 {
  color: #738c7a;
  font-size: 15px;
}

.cifrao {
  font-size: 20px;
}

.content1 button {
  text-decoration: none;
  background-color: #22ad01;
  border: none;
  border-radius: 50px;
  padding: 15px 60px;
  margin: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.content1 button:hover {
  background-color: #41bb22;
}

.content1 a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
}

.content1 p {
  text-align: center;
  color: #738c7a;
  margin: 20px 0px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #738c7a44;
  font-size: 14px;
}

.content1 ul {
  list-style-type: none;
}

.content1 li {
  background-image: url(images/check.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  margin-bottom: 20px;
  color: #003c2f;
  font-weight: 600px;
}

.obs {
  color: #738c7a;
  font-size: 15px;
}
